body {
  margin: 60px;
  font-family: Dosis, "Courier New", Courier, monospace;
}

.card {
  margin: 0 auto;
  padding: 20px;
}

.city {
  margin-left: 20px;
  width: 1025px;
}

.submit {
  margin-right: 3px;
  width: 100px;
  height: 35px;
  color: white;
  background-color: #7a34eb;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.submit:hover {
  opacity: 60%;
  cursor: default;
}

.current-city {
  float: right;
  text-align: right;
  font-size: 18px;
  margin-top: -125px;
  padding-right: 10px;
  text-transform: capitalize;
}

.description {
  text-transform: capitalize;
}

.icon {
  float: left;
  margin: -200 px;
  margin-right: 10px;
  margin-left: 10px;
}

.location-temp {
  font-size: 18px;
  width: 230px;
  text-align: center;
  margin-left: 416px;
  margin-bottom: 20px;
  background-color: #ffc2de;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.location-temp:hover {
  opacity: 70%;
  cursor: default;
  color: purple;
}

.current-temp {
  display: inline;
  padding-left: 5px;
  font-size: 55px;
  font-family: Concert One, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: #ff00c8;
}

a {
  text-decoration: none;
  cursor: default;
}

.units {
  font-size: 30px;
  font-family: Concert One, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: #ff00c8;
}

.forecast {
  font-size: 20px;
  margin-top: 10px;
  width: 1000px;
  text-align: center;
}
